{{!< default}}

<div class="content-area">
    <main class="site-main">
        {{#post}}
            <article class="{{post_class}} single">
                <div class="single-media container medium{{#if og_description}} hidden-md hidden-lg hidden-xl{{/if}}">
                    {{> post-media ratio="square"}}
                </div>
                {{#if og_description}}
                    {{> player}}
                {{else}}
                    {{> post-header single=true}}
                {{/if}}
                <div class="post-content gh-content kg-canvas">
                    {{content}}
                </div>
                <div class="container medium">
                    {{> share}}
                    <div class="author-list">
                        <h3 class="author-list-title">
                            {{#if og_description}}
                                Hosted by:
                            {{else}}
                                Written by:
                            {{/if}}
                        </h3>
                        {{#foreach authors}}
                            {{> author}}
                        {{/foreach}}
                    </div>
                    {{!-- gittalk --}}
                    {{!-- test --}}
                    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
                    <script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
                    <div id="gitalk-container"></div>
                    <script>
                        var gitalk = new Gitalk({
                            clientID: 'd3cc98bcaf707b4f7095',
                            clientSecret: '04fac8978910e32b67b724e721f4db6d93acd940',
                            repo: 'comments_storage',
                            owner: 'blogstorage',
                            admin: ['blogstorage'], //这里可以填写具有写权限的用户名列表，用来初始化Issues的
                            id: '{{comment_id}}'.substr(0, 40),
                            distractionFreeMode: false // Facebook-like distraction free mode
                        });
                        gitalk.render('gitalk-container');
                    </script>
                </div>
            </article>
        {{/post}}
    </main>
</div>